[Application]
name=UWU Languaged
version=1.0
entry_point=uwu_languaged.exe
icon=app_icon.ico

[Shortcut UWU Languaged]
# This handles the Start Menu
entry_point=uwu_languaged.exe
icon=app_icon.ico
console=false

[Shortcut UWU Languaged Desktop]
# This handles the Desktop
entry_point=uwu_languaged.exe
icon=app_icon.ico
console=false